<h2>Lembrar senha</h2>
<%= form_for @session, :url=>password_path do |f| %>
  <%= render :partial => "partials/errors", :locals => { :obj => @session } %>
  <div class="field">
    <%= f.label :email , :class=>:needed %><br/>
    <%= f.text_field :email %>
  </div>

    <%= button_submit_tag "Lembrar" %>
<% end -%>
