
<p>
  <strong><%= @sponsor.nick %></strong>, você tem um novo indicado em seu nível#<%= @level %> .</p>
<p>Segue referência:</p>
<p>
  <strong>Apelido</strong> <%=@user.nick %><br />
  <strong>Login</strong><%=@user.name %><br />
</p>
Você pode acompanhar este usuário através do seu escritório virtual.

<p>Atenciosamente,<br />
  <strong><%= CFG['company'] %></strong>
</p>

