<h2>Banners</h2>

<div class="banners">
  <h3>468x60</h3>
  <embed src="<%= asset_path("bonusdiario_468x60.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=60 width=468 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_468x60.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=60 width=468 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>468x60</h3>
  <embed src="<%= asset_path("bonusdiario_468x60_EXTRA.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=60 width=468 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_468x60_EXTRA.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=60 width=468 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>728x90</h3>
  <embed src="<%= asset_path("bonusdiario_728x90.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=90 width=728 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_728x90.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=90 width=728 ></embed>" %> </span>
</div>


<div class="banners">
  <h3>336x280</h3>
  <embed src="<%= asset_path("bonusdiario_336x280.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=280 width=336 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_336x280.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=280 width=336 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>300x250</h3>
  <embed src="<%= asset_path("bonusdiario_300x250.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=250 width=300 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_300x250.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=250 width=300 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>250x250</h3>
  <embed src="<%= asset_path("bonusdiario_250x250.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=250 width=250 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_250x250.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=250 width=250 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>240x400</h3>
  <embed src="<%= asset_path("bonusdiario_240x400.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=400 width=240 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_240x400.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=400 width=240 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>234x60</h3>
  <embed src="<%= asset_path("bonusdiario_234x60.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=60 width=234 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_234x60.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=60 width=234 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>160x600</h3>
  <embed src="<%= asset_path("bonusdiario_160x600.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=600 width=160 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_160x600.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=600 width=160 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>125x125</h3>
  <embed src="<%= asset_path("bonusdiario_125x125.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=125 width=125 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_468x60.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=125 width=125 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>120x600</h3>
  <embed src="<%= asset_path("bonusdiario_120x600.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=600 width=120 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_120x600.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=600 width=120 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>120x240</h3>
  <embed src="<%= asset_path("bonusdiario_120x240.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=240 width=120 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_120x240.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=240 width=120 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>120x90</h3>
  <embed src="<%= asset_path("bonusdiario_120x90.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=90 width=120 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_120x90.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=90 width=120 ></embed>" %> </span>
</div>

<div class="banners">
  <h3>120x60</h3>
  <embed src="<%= asset_path("bonusdiario_120x60.swf?subdomain=#{current_user.name}") %>" pluginspage="http://www.macromedia.com" type="application/x-shockwave-flash" height=60 width=120 ></embed> 
  <p>Para usar este banner use o seguinte código no seu site:</p>
  <span class='ban'><%= "<embed src='#{asset_path("bonusdiario_120x60.swf?subdomain=#{current_user.name}")}' pluginspage='http://www.macromedia.com' type='application/x-shockwave-flash' height=60 width=120 ></embed>" %> </span>
</div>
