<h2>Benefícios</h2>
<h3>Segue abaixo título dos itens que compõem a coletânia de apostilas digitais selecionadas especialmente para seu desenvolvimento pessoal e profissional.</h3>
<p>Clique em "Baixar" para visualizar a apostila em seu navegador!</p>

<table cellspacing="0" class="ebooks">
  <tr>
    <td><%= image_tag "ebooks/premio1.jpg" %></td>
    <td>Apostila 1 - Web Vencedor</td>
    <td><%= big_primary_button_link_to "Baixar", "/ebooks/1_web_vencedor.pdf", :target=>"_blank" %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio2.jpg" %></td>
    <td>Apostila 2 - O Guia para o Sucesso</td>
    <td><%= big_primary_button_link_to "Baixar", "/ebooks/2_o_guia_do_investidor_de_sucesso.pdf", :target=>"_blank" %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio3.jpg" %></td>
    <td>Apostila 3 - Ganhe Dinheiro com a Internet</td>
    <td><%= big_primary_button_link_to "Baixar", "/ebooks/3_ganhe_dinheiro_com_a_internet.pdf", :target=>"_blank" %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio4.jpg" %></td>
    <td>Apostila 4 - Guia de Desenvolvimento Pessoal e Profissional</td>
    <td><%= big_primary_button_link_to "Baixar", "/ebooks/4_desenvolvimento_pessoal_e_profissional.pdf", :target=>"_blank" %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio5.jpg" %></td>
    <td>Apostila 5 - Investindo sem Susto</td>
    <td><%= big_primary_button_link_to "Baixar", "/ebooks/5_investindo_sem_susto.pdf", :target=>"_blank" %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio6.jpg" %></td>
    <td>Apostila 6 - Mude sua Vida em 30 dias Implementando a Lei da Atração</td>
    <td><%= big_primary_button_link_to "Baixar", "/ebooks/6_mude_sua_vida_em_30_dias_implementando_a_lei_da_atracao.pdf", :target=>"_blank" %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio7.jpg" %></td>
    <td>Apostila 7 - 1001 Maneiras de Enriquecer</td>
    <td><%= big_primary_button_link_to "Baixar", "/ebooks/7_1001_maneiras_de_enriquecer.pdf", :target=>"_blank" %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio8.jpg" %></td>
    <td>Apostila 8 - 61 Grandes Idéias de Vendas e Marketing</td>
    <td><%= big_primary_button_link_to "Baixar", "/ebooks/8_61_grandes_ideias_de_vendas_e_marketing.pdf", :target=>"_blank" %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio9.jpg" %></td>
    <td>Apostila 9 - 19 Regras Operacionais para se Tornar um Vencedor</td>
    <td><%= big_primary_button_link_to "Baixar", "/ebooks/9_19_regras_para_se_tornar_um_vencedor.pdf", :target=>"_blank" %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio10.jpg" %></td>
    <td>Apostila 10 - A Ciência para ficar Rico</td>
    <td><%= big_primary_button_link_to "Baixar", "/ebooks/10_ciencia_para_ficar_rico.pdf", :target=>"_blank" %></td>
  </tr>
</table>
