<h2>Benefícios</h2>
<h3>Segue abaixo título dos itens que compõem a coletânia de apostilas digitais selecionadas especialmente para seu desenvolvimento pessoal e profissional.</h3>

<table cellspacing="0" class="ebooks">
  <tr>
    <td><%= image_tag "ebooks/premio1.jpg" %></td>
    <td>Apostila 1 - Web Vencedor</td>
    <td><%= big_primary_button_link_to "Baixar", office_products_path %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio2.jpg" %></td>
    <td>Apostila 2 - O Guia para o Sucesso</td>
    <td><%= big_primary_button_link_to "Baixar", office_products_path %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio3.jpg" %></td>
    <td>Apostila 3 - Ganhe Dinheiro com a Internet</td>
    <td><%= big_primary_button_link_to "Baixar", office_products_path %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio4.jpg" %></td>
    <td>Apostila 4 - Guia de Desenvolvimento Pessoal e Profissional</td>
    <td><%= big_primary_button_link_to "Baixar", office_products_path %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio5.jpg" %></td>
    <td>Apostila 5 - Investindo sem Susto</td>
    <td><%= big_primary_button_link_to "Baixar", office_products_path %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio6.jpg" %></td>
    <td>Apostila 6 - Mude sua Vida em 30 dias Implementando a Lei da Atração</td>
    <td><%= big_primary_button_link_to "Baixar", office_products_path %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio7.jpg" %></td>
    <td>Apostila 7 - 1001 Maneiras de Enriquecer</td>
    <td><%= big_primary_button_link_to "Baixar", office_products_path %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio8.jpg" %></td>
    <td>Apostila 8 - 61 Grandes Idéias de Vendas e Marketing</td>
    <td><%= big_primary_button_link_to "Baixar", office_products_path %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio9.jpg" %></td>
    <td>Apostila 9 - 19 Regras Operacionais para se Tornar um Vencedor</td>
    <td><%= big_primary_button_link_to "Baixar", office_products_path %></td>
  </tr>
  <tr>
    <td><%= image_tag "ebooks/premio10.jpg" %></td>
    <td>Apostila 10 - A Ciência para ficar Rico</td>
    <td><%= big_primary_button_link_to "Baixar", office_products_path %></td>
  </tr>
</table>
