<h2>Com o bônus diário você pratica um plano de negócios seguro e legalizado.</h2>
<p>Veja sua possibilidade de ganhos com apenas algumas indicações:</p>
<table cellspacing="0">
  <tr>
    <th>nível</th>
    <th>ex. com qtd indicações</th>
    <th>por indicação faz</th>
    <th>recebe</th>
    <th>total recebido</th>
  </tr>
  <tr>
    <td>1</td>
    <td>5</td>
    <td>R$ 25,00</td>
    <td>R$ 125,00</td>
    <td>R$ 125,00</td>
  </tr>
  <tr>
    <td>2</td>
    <td>25</td>
    <td>R$ 15,00</td>
    <td>R$ 375,00</td>
    <td>R$ 500,00</td>
  </tr>
  <tr>
    <td>3</td>
    <td>125</td>
    <td>R$ 5,00</td>
    <td>R$ 625,00</td>
    <td>R$ 1.125,00</td>
  </tr>
  <tr>
    <td>4</td>
    <td>625</td>
    <td>R$ 3,00</td>
    <td>R$ 1.875,00</td>
    <td>R$ 3.000,00</td>
  </tr>
  <tr>
    <td>5</td>
    <td>3125</td>
    <td>R$ 2,00</td>
    <td>R$ 6.250,00</td>
    <td>R$ 9.250,00</td>
  </tr>
</table>
<p>Este foi um exemplo com 5 indicações, mas você pode indicar quantas pessoas você puder! Quanto mais... melhor! Pois sua rede de indicações consequentemente irá se multiplicar gerando comissões em vários níveis e para toda equipe!</p>

<h3>Simples assim!</h3>

<p>Quantas pessoas você conhece que queiram receber bônus diariamente e apenas indicando? <big>Convide-os! Assim você constroi uma grande rede de negócios...</big></p>
<p>Tudo isso por um investimento único de <big>R$ 50,00!</big><br/><small>*com apenas 5 indicações você já ganhou mais do que o valor investido!</small></p>

<p>Você recebe 100% dos bônus no seu escritório virtual e nós descontamos os custos de impostos e administração! Desta forma tudo funciona legalizado e confiável e você recebe suas comissões diretamente na sua conta bancária!</p>

<p>Envio das comissões toda *Quinta e Sexta*</p>

<h3>Benefícios</h3>
<ul>
  <li><%= link_to "Renda Extra", "#" %></li>
  <li><%= link_to "Escritório Virtual", "#" %></li>
  <li><%= link_to "Coleção de Banners", "#" %></li>
  <li><%= link_to "Apostilas Digitais", "#" %></li>
</ul>
  <ul class="product_list_home">
    <li><%= link_to image_tag("ebooks/premio1.jpg"), benefits_path %></li>
    <li><%= link_to image_tag("ebooks/premio2.jpg", :size=>"100x122"), benefits_path %></li>
    <li><%= link_to image_tag("ebooks/premio3.jpg"), benefits_path %></li>
    <li><%= link_to image_tag("ebooks/premio4.jpg"), benefits_path %></li>
    <li><%= link_to image_tag("ebooks/premio5.jpg"), benefits_path %></li>
    <li><%= link_to image_tag("ebooks/premio6.jpg"), benefits_path %></li>
    <li><%= link_to image_tag("ebooks/premio7.jpg"), benefits_path %></li>
    <li><%= link_to image_tag("ebooks/premio8.jpg", :size=>"100x122"), benefits_path %></li>
    <li><%= link_to image_tag("ebooks/premio9.jpg"), benefits_path %></li>
    <li><%= link_to image_tag("ebooks/premio10.jpg", :size=>"100x122"), benefits_path %></li>
  </ul>  

