<h2>Meu patrocinador</h2>
  <%= image_tag @upline.avatar_url(:thumb) %>
  <table cellspacing="0">
    <caption><%= @upline.nick %></caption>
    <tr><th>Site</th><td><%= root_url(:subdomain=>@upline.name) %></td></tr>
    <tr><th>Status</th><td><%= trans_user_status @upline.status %></td></tr>
    <tr><th>Qtd indicados</th><td><%= @upline.sponsored.size %></td></tr>
    <tr><th>Email principal</th><td><%= @upline.email1 %></td></tr>
    <tr><th>Email alternativo</th><td><%= @upline.email2 %></td></tr>
    <tr><th>Telefone</th><td><%= @upline.phone %></td></tr>
    <tr><th>Celular</th><td><%= @upline.mobile  %></td></tr>
    <tr><th>Msn</th><td><%= @upline.msn %></td></tr>
    <tr><th>Skype</th><td><%=  @upline.skype %></td></tr>
    <tr><th>Gtalk</th><td><%= @upline.gtalk %></td></tr>
    <tr><th>Cidade</th><td><%= @upline.address.city_name %></td></tr>
    <tr><th>Estado</th><td><%= @upline.address.state_name %></td></tr>
    <tr><th>País</th><td><%= @upline.address.country.name %></td></tr>
  </table>
