<p>
  <strong><%= @user.nick %></strong>, segue os dados solicitados.
</p>

<p>
  <strong>Login </strong><%=@user.name %><br />
  <strong>Senha</strong><%=@user.password %><br />
  <strong>Site</strong> <%= link_to root_url(:subdomain=>@user.name), root_url(:subdomain=>@user.name)%><br />
</p>

<p>Atenciosamente,<br />
  <strong><%= CFG['company'] %></strong>
</p>

