  <div class="span-36 menu_hor">
    <ul class="menu_hor">
      <li><%= link_to "Inicial", root_path %></li>
      <li><%= link_to "Benefícios", benefits_path %></li>
      <li><%= link_to "Cadastre-se", sign_up_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Banners", banners_path %></li>
      <li><%= link_to "Login", sign_in_path %></li>
      <li><%= link_to "Contato", new_contact_path %></li>
    </ul>
  </div>
