<%= link_to "voltar", office_user_path(current_user) %>
<h2>Alterar senha</h2>
<%= form_for [:office,@user], :url=>office_password_change_path, :method=>:put do |f| %>
  <%= render :partial=>"partials/errors", :locals=>{:obj=>@user} %>
 
  <div class=field>
    <%= f.label :new_password, :class=>:needed %><br/>
    <%= f.password_field :new_password %>
  </div>
  
  <div class=field>
    <%= f.label :new_password_confirmation, :class=>:needed %><br/>
    <%= f.password_field :new_password_confirmation %>
  </div>
  
  <div class=field>
    <%= f.label :old_password , :class=>:needed%><br/>
    <%= f.password_field :old_password %>
  </div>
  
  <div class=actions>
    <%= button_submit_tag "Alterar" %>
  </div>

<% end %>
